<template>
  <div>
      <table style="width:100%">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Counts</th>
            <th>Price</th>
            <th></th>
        </tr>
        <tr v-for="product in products" v-bind:key="product.id">
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.counts}}</td>
            <td>{{product.price}}</td>
            <td><button @click="deleteProduct(product.id)">Delete</button></td>
        </tr>

        

        </table>

        <br />

        <input type="text" placeholder="Введите название" v-model="formFieldsForAdding.name"> <br /><br />

        Counts: <br />
        <input type="number" min="1" v-model="formFieldsForAdding.counts" >  <br /><br />

        Price: <br />
        <input type="number" min="1" v-model="formFieldsForAdding.price" >  <br /><br />
        <button @click="addProduct()">ADD</button>
  </div>
</template>

<script>
import axios from "axios"

const headerHTTP = {'Content-Type': 'application/json;charset=utf-8'}

const hostRestAPI = 'http://localhost:8080/java-ee-rest/api'

export default {
    data() {
        return {
            products: [],

            formFieldsForAdding: {
                name: "",
                counts: 1,
                price: 1.00
            }
        }
    },
    methods: {
        async addProduct() {
          
            const newProduct = {
                    name: this.formFieldsForAdding.name,
                    counts: this.formFieldsForAdding.counts,
                    price: this.formFieldsForAdding.price
            }
            const response = await axios.post(`${hostRestAPI}/product`, JSON.stringify(newProduct), {
                headers: headerHTTP
            });
            console.log("response", response);
            await this.fetchData()
            this.clearFormFields()
        },
        clearFormFields() {
           this.formFieldsForAdding = {
                name: "",
                counts: 1,
                price: 1.00
            }
        },
        async deleteProduct(id) {
          
             const response = await axios.delete(`${hostRestAPI}/product/${id}`, {
                headers: headerHTTP
            });
            console.log("response", response);
            await this.fetchData()
        },
        async fetchData() {
            const productResponse = await axios.get(`${hostRestAPI}/product`);
            
            console.log("productResponse", productResponse);

            this.products = productResponse.data
        }
    },
    async mounted() {
        await this.fetchData()
    }

}
</script>

<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;    
}
</style>